<h1>  Here is your score for Answer 1 <%= @total_score_answer_1 %>  </h1>
<h1>  Here is your score for Answer 2 <%= @total_score_answer_2 %>  </h1>
<h1>  Here is your score for Answer 3 <%= @total_score_answer_3 %>  </h1>
<h1>  Here is your score for Answer 4 <%= @total_score_answer_4 %>  </h1>
<h1>  Here is your score for Answer 5 <%= @total_score_answer_5 %>  </h1>
